#departmentTable tbody tr.selected-row, #employeeTable tbody tr.selected-row {
  background-color: #57b5f8 !important;
}

#departmentTable tbody tr:hover, #employeeTable tbody tr:hover {
  background-color: #cfe6ff;
  cursor: pointer;
}
