<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h4 class="mb-0">Department Records</h4>

        <div>
            <button class="btn btn-primary me-2" [disabled]="selectedDepartment" [routerLink]="['/add-department']">
               <i class="bi bi-plus-circle"></i> Create
            </button>

            <button class="btn btn-success me-2" [disabled]="!selectedDepartment" (click)="viewDepartment()">
                View
            </button>

            <button class=" btn btn-warning" [disabled]="!selectedDepartment" (click)="updateDepartment()" >
                Edit
            </button>

            <button class="btn btn-danger" [disabled]="!selectedDepartment" (click)="deleteDepartment()">
                Delete
            </button>
        </div>
    </div>

    <div class="card-shadow-sm mb-4">
        <div class="card-reader bg-light fw-semibold">
            Search & Filters
        </div>

        <div class="card-body">
            <div class="row g-3">

                <div class="col-md-3">
                    <input type="number" placeholder="Search Dept ID" class="form-control" [(ngModel)]="deptId">
                </div>

                <div class="col-md-3">
                    <input type="text" placeholder="Search Dept Name" class="form-control" [(ngModel)]="deptName">
                </div>

                <div class="cold-md-3">
                    <input type="text" placeholder="Search Location" class="form-control" [(ngModel)]="location">
                </div>

                <div class="cold-md-3">
                    <input type="text" placeholder="Filter Created Date Range" class="form-control"
                        [(ngModel)]="createdAtRange" name="createdAtRange" ngxDaterangepickerMd [autoApply]="false" [timePicker]="true"
                        [showClearButton]="true"[showCustomRangeLabel]="true" [linkedCalendars]="false" [showDropdowns]="false" 
                        [singleDatePicker]="false" [keepCalendarOpeningWithRange]="true"
                         [timePickerSeconds]="true" [maxDate]="maxDate"
                        [locale]="{format: 'DD/MM/YYYY, HH:MM:SS'}">
                </div>
            </div>
        </div>
        <div class="container mt-3">
            <button class="btn btn-success" (click)="searchDepartments()">
                <i class="bit bi-search"></i>Search
            </button>
            <button class="btn btn-outline-secondary" (click)="resetFilters()">
                <i class="bi bi-search"></i> Reset
            </button>
        </div>

    </div>

    <div class="table-responsive">
        <table id="departmentTable" class="table table-hover table-bordered table-striped mb-4">
            <thead class="table-dark">
                <tr>
                    <th>Dept ID</th>
                    <th>Dept Name</th>
                    <th>Location</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                </tr>
            </thead>
            <div class="d-grid mt-4">
                <button class="btn btn-outline-secondary" [disabled]="page===0" (click)="prevPage()">
                    ⬅ Prev
                </button>

                <button class="btn btn-outline-secondary" [disabled]="(page + 1) * size >= totalElements"
                    (click)="nextPage()">
                    Next ➡
                </button>
            </div>
        </table>


    </div>

    <div class="d-grid mt-3">
        <button class="btn btn-secondary back-btn" (click)="goBack()">
            <- Dashboard </button>
    </div>
</div>