<div class="container mt-4">
    <div class="card-shadow">
        <div class="card-header bg-warning text-black">
            <h4 class="mb-0">Update Employee</h4>
        </div>

        <div class="card-body">
            <form #updateForm="ngForm">
                <div class="row g-3">

                    <div class="col-md-6">
                        <label class="form-label">Employee ID</label>
                        <input type="number" class="form-control" name="empId" [(ngModel)]="employee.key.empId"
                            readonly>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">First Name</label>
                        <input type="text" class="form-control" placeholder="First Name" name="firstName"
                            [(ngModel)]="employee.firstName">
                        <div *ngIf="errorMessages.firstName" class="text-danger">
                            <small *ngFor="let err of errorMessages.firstName">
                                {{err}} <br>
                            </small>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <label class="form-label">Last Name</label>
                        <input type="text" class="form-control" placeholder="Last Name" name="lastName"
                            [(ngModel)]="employee.lastName">
                        <div *ngIf="errorMessages.lastName" class="text-danger">
                            <small *ngFor="let err of errorMessages.lastName">
                                {{err}} <br>
                            </small>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" placeholder="Email" name="email"
                            [(ngModel)]="employee.key.email" readonly>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Phone Number</label>
                        <input type="text" class="form-control" placeholder="Phone Number" name="phoneNumber"
                            [(ngModel)]="employee.phoneNumber">
                        <div *ngIf="errorMessages.phoneNumber" class="text-danger">
                            <small *ngFor="let err of errorMessages.phoneNumber">
                                {{err}} <br>
                            </small>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Department ID</label>
                        <input type="number" class="form-control" placeholder="Department ID" name="deptId"
                            [(ngModel)]="employee.deptId">
                        <div *ngIf="errorMessages.deptId" class="text-danger">
                            <small *ngFor="let err of errorMessages.deptId">
                                {{err}} <br>
                            </small>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Salary</label>
                        <input type="number" class="form-control" placeholder="Salary" name="salary"
                            [(ngModel)]="employee.salary">
                        <div *ngIf="errorMessages.salary" class="text-danger">
                            <small *ngFor="let err of errorMessages.salary">
                                {{err}} <br>
                            </small>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Status</label>
                        <input type="text" class="form-control" name="status" [(ngModel)]="employee.status" 
                        [disabled]="employee.status">
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Hire Date</label>
                        <input type="date" class="form-control" placeholder="Hire Date" name="hireDate"
                            [(ngModel)]="employee.hireDate">
                    </div>

                </div>

                <div class="mt-4 d-flex gap-3">

                    <button type="button" class="btn btn-warning px-4" (click)="updateEmployee(updateForm)">
                        Update Employee
                    </button>

                    <button type="button" class="btn btn-outline-danger px-4" (click)="clearForm(updateForm)">
                        Clear Form
                    </button>

                    <button type="button" class="btn btn-secondary" (click)="goBack()">
                        <- Back </button>

                </div>
            </form>
        </div>
    </div>
</div>
