<div class="container mt-4">
   <div class="card shadow">
      <div class="card-header bg-primary text-white">
         <h4 class="mb-0">Create User</h4>
      </div>

      <div class="card-body">
         <form #form="ngForm">

            <div class="row g-3">

               <div class="col-md-6">
                  <label class="form-label">User ID</label>
                  <input type="number" class="form-control" name="userId" placeholder="User ID"
                     [(ngModel)]="user.userId" [class.is-invalid]="errorMessages.userId">

                  <div *ngIf="errorMessages.userId" class="text-danger">
                     <small>{{errorMessages.userId[0]}}</small>
                  </div>
               </div>

               <div class="col-md-6">
                  <label class="form-label">First Name</label>
                  <input type="text" class="form-control" name="firstName" placeholder="First Name"
                     [(ngModel)]="user.firstName" [class.is-invalid]="errorMessages.firstName">

                  <div *ngIf="errorMessages.firstName" class="text-danger">
                     <small>{{errorMessages.firstName[0]}}</small>
                  </div>
               </div>

               <div class="col-md-6">
                  <label class="form-label">Last Name</label>
                  <input type="text" class="form-control" name="lastName" placeholder="Last Name"
                     [(ngModel)]="user.lastName" [class.is-invalid]="errorMessages.lastName">

                  <div *ngIf="errorMessages.lastName" class="text-danger">
                     <small>{{errorMessages.lastName[0]}}</small>
                  </div>
               </div>

               <div class="col-md-6">
                  <label class="form-label">Email</label>
                  <input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="user.email"
                  [class.is-invalid]="errorMessages.email">

                  <div *ngIf="errorMessages.email" class="text-danger">
                     <small>{{errorMessages.email[0]}}</small>
                  </div>
               </div>

               <div class="col-md-6">
                  <label class="form-label">Phone Number</label>
                  <input type="text" class="form-control" name="phoneNumber" placeholder="Phone Number"
                     [(ngModel)]="user.phoneNumber" [class.is-invalid]="errorMessages.phoneNumber">

                  <div *ngIf="errorMessages.phoneNumber" class="text-danger">
                     <small>{{errorMessages.phoneNumber[0]}}</small>
                  </div>
               </div>

               <div class="col-md-6">
                  <label class="form-label">Plan Type</label>
                  <select class="form-control" name="planType" [(ngModel)]="user.planType"
                     (change)="onPlanTypeChange()">
                     <option value="" disabled hidden>Select Plan Type</option>
                     <option *ngFor="let plan of planTypes" [value]="plan">
                        {{plan}}
                     </option>
                  </select>
               </div>

               <div class="col-md-6">
                  <label class="form-label">Price</label>
                  <input type="number" class="form-control" name="price" placeholder="Plan Price" [ngModel]="user.price"
                     readonly>
               </div>

               <div class="col-md-6">
                  <label class="form-label">Plan ID</label>
                  <input type="number" class="form-control" name="planId" placeholder="Plan ID"
                     [(ngModel)]="user.planId" readonly>
               </div>

               <div class="col-md-6">
                  <label class="form-label">Subscription Start Date</label>
                  <input type="date" class="form-control" name="subscriptionStartDate" placeholder="Start Date"
                     [(ngModel)]="user.subscriptionStartDate" readonly>
               </div>

               <div class="col-md-6">
                  <label class="form-label">Subscription End Date</label>
                  <input type="date" class="form-control" name="subscriptionEndDate" placeholder="Plan ID"
                     [(ngModel)]="user.subscriptionEndDate" readonly>
               </div>

               <div class="col-md-6">
                  <label class="form-label">Subscription Status</label>
                  <input type="text" class="form-control" name="subscriptionStatus" placeholder="Subscription Status"
                     [(ngModel)]="user.subscriptionStatus" readonly>
               </div>
            </div>

            <div>

               <button type="button" class="btn btn-primary" (click)="addUser()">
                  Create User
               </button>

               <button type="button" class="btn btn-outline-primary" (click)="clearForm(form)">
                  Clear
               </button>

               <button type="button" class="btn btn-secondary" (click)="goBack()">
                  Back
               </button>
            </div>
         </form>
      </div>
   </div>
</div>