/* .login-card {
    height: 350px;
    width: 400px;
    padding: 25px;
    border-radius: 35px;
}

input {
    border-radius: 10px;
}

button {
    width: 350px;
    border-radius: 35px;
} */

.login-wrapper {
  display: flex;
  height: 100vh;
  background: #f4f6f9;
}

.login-left {
  flex: 1;
  background: linear-gradient(135deg, #2f80ed, #56ccf2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.brand h1 {
  font-size: 48px;
  font-weight: 800;
}

.brand span {
  color: #ffd369;
}

.login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 100%;
  max-width: 420px;
  padding: 50px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.1);
}
