You can add global styles to this file, and also import other style files */
 #employeeTable tbody tr.selected-row {
    background-color: #1067a4 !important
}

#employeeTable tbody tr:hover{
    background-color: #4d87c1;
    cursor: pointer;

}